/*
Para que os valores não sejam somados aos comprimentos da caixa podemos aplicar a seguinte configuração a todo o escopo do projeto:

    *{
        box-sizing:border-box;
    }

*/

.model{
    background-color: gray;
    height: 1000px;
    width: 800px;
    margin: 0 auto;
}

.model .caixa-01{
    background-color: black;
    width: 300px;
    height: 300px;
   /* background-image: url('../aula3/Ampeross-Qetto-2-Search.24.png');
    background-repeat: no-repeat;
    background-position: center center; /*eixos x e y respectivamente*/
   background: url('../aula3/Ampeross-Qetto-2-Search.24.png') no-repeat purple center center; /*aplicando o shorthand*/
}
