/*Dicas de responsividade
usar % e rem
nunca usar px em width
usar max-width para telas maiores
*/
html {
  font-size: 62.5%;
  /*isso equivale a font-size de 10px*/
}

/*Usamos a unidade de medida rem nas fontes para podemos muda-las nos elmentos em relação ao font-size do root que é o html*/
h1 {
  font-size: 6rem; /*60px*/
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

@media (max-width: 480px) {
  /*Em celulares um font-size de 10px é grande, logo é só adaptar o root*/
  html {
    font-size: 40%;
  }
}
