:root {
  --cor-primaria: red;
  --cor-secundaria: blue;
}

section {
  display: flex;
}

section .area {
  width: 100%;
  height: 500px;
}

section .area.vermelha {
  background-color: var(--cor-primaria);
}

section .area.azul {
  background-color: var(--cor-secundaria);
}

@media (max-width: 480px) {
  section {
    flex-direction: column;
  }
}
