.texto-principal{
    color: blue;
    max-width: 200px;
}

.btn-estilo{
    width: 100px;
    height: 100px;
    background-color: red;
}

.btn-estilo.btn-estilo-2{
    background-color: purple;
}

input{
    outline: none;
}

.input-nome{
    margin-top: 20px;
}
.input-nome:focus{
    border: 2px solid red;
}

ul li:first-child{
    color: yellow;
}

ul li:last-child{
    color: green;
}

ul li:nth-child(2){
    color: aqua;
}