.quadrado {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 50px;
}

.quadrado.red {
  background-color: red;
}

.quadrado.blue {
  background-color: blue;
}

.quadrado.green {
  background-color: green;
  display: inline;
}

/*
block - ocupa a tela inteira se não for definido uma largura, porém permite que configuremos margem, altura,largura etc
inline - nao permite que se configure altura,largura e margem, usado mais em textos, deve ter conteudo para ser mostrado e se nao tiver conteudo nao é mostrado
inline-block - é a junção dos anteriores, sendo que permite que elementos fiquem lado a lado porém agora permitindo que se passe altura,largura e margem
none - não mostra o elemento, muito usado na responsividade
*/
